<template name="blog">
    <!-- page -->
    <div id="page" class="hfeed site">
        <!-- header -->
        <header id="masthead" class="site-header" role="banner">
            <!-- site-logo -->
            <div class="site-logo">
                <!-- logo : image -->
                <h1 class="site-title">
                        <a href="index.html" rel="home">
                            <img src="images/site/logo.png" alt="logo">
                        </a>
                    </h1>
                <!-- logo : image -->
                <!-- logo : text -->
                <!--<h1 class="site-title">
                        <a href="../index.html" rel="home">
                            Photographer
                        </a>
                    </h1>
                    <p class="site-description">a photography theme.</p> -->
                <!-- logo : text -->
            </div>
            <!-- site-logo -->
            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <a class="menu-toggle"><span class="lines"></span></a>
                <!-- nav-menu -->
                <div class="nav-menu">
                    <ul>
                        <li><a href="index.html">HOME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="home-landing.html">Home Landing Photowall</a></li>
                                <li><a href="home-landing-image.html">Home Landing Image</a></li>
                                <li><a href="home-landing-slides.html">Home Landing Slides</a></li>
                                <li><a href="home-alt.html">Home Alternate</a></li>
                                <li><a href="home-alt-2.html">Home Alternate 2</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="work.html">WORK</a></li>
                        <li><a href="pricing.html">PRICING</a></li>
                        <li><a href="blog.html">BLOG</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="blog-with-sidebar.html">Blog with sidebar</a></li>
                                <li><a href="category.html">Blog Category</a></li>
                                <li><a href="blog-simple.html">Blog Simple</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="about.html">ABOUT ME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="typo.html">Typography</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <!-- nav-menu -->
            </nav>
            <!-- site-navigation -->
        </header>
        <!-- header -->
        <!-- site-main -->
        <div id="main" class="site-main">
            <!-- primary -->
            <div id="primary" class="content-area">
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                    <!-- post-slider -->
                    <!--<div class="post-slider owl-carousel" data-items="3" data-loop="false" data-center="false" data-mouse-drag="true" data-nav="false" data-dots="false" data-autoplay="true" data-autoplay-speed="600" data-autoplay-timeout="2000">-->
                    <!-- post-slider -->
                    <!-- layout-fixed -->
                    <div class="layout-fixed">
                        <!-- blog-regular -->
                        <div class="blog-regular">
                            <!-- .hentry -->
                            <article class="hentry post">
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="blog-single.html" title="A Story About Knowing The Value Of Simplicity">Using a Camera Phone</a></h1>
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date"><time class="entry-date" datetime="2014-07-13T04:34:10+00:00">July 13, 2014</time></span>
                                        <span class="comment-link">4 Comments</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Tutorials" rel="category tag">DAILY PHOTOGRAPHY</a>
                                        </span>
                                    </div>
                                    <!-- .entry-meta -->
                                </header>
                                <!-- .entry-header -->
                                <!-- .featured-image -->
                                <div class="featured-image">
                                    <a href="blog-single.html"><img src="images/blog/blog-03.jpg" alt="blog-image"></a>
                                </div>
                                <!-- .featured-image -->
                                <!-- .entry-content -->
                                <div class="entry-content">
                                    <p>Social challenges, time of extraordinary change enabler foundation sharing economy challenges. Rural development, volunteer challenges of our. Be life is a upon seasons saying can't had together signs.</p>
                                    <p>Global network open source healthcare, raise awareness human rights political courageous reduce carbon emissions. Transformative Action.
                                        <span class="more">
                                            <a href="blog-single.html" class="more-link">Read More</a>
                                        </span>
                                    </p>
                                </div>
                                <!-- .entry-content -->
                            </article>
                            <!-- .hentry -->
                            <!-- .hentry -->
                            <article class="hentry post sticky">
                                <!-- .entry-header -->
                                <header class="entry-header">
                                    <!-- .entry-title -->
                                    <h1 class="entry-title"><a href="blog-single.html" title="Keep it Simple Dummy!">Introduction To Digital Photography</a></h1>
                                    <!-- .entry-meta -->
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span>
                                        <span class="comment-link">64 Comments</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Adventure" rel="category tag">Adventure</a>
                                        </span>
                                    </div>
                                    <!-- .entry-meta -->
                                </header>
                                <!-- .entry-header -->
                                <!-- .entry-content -->
                                <div class="entry-content">
                                    <p>Time of extraordinary change enabler foundation sharing economy challenges. Rural development, volunteer challenges of our. Be life is a upon seasons saying can't had together signs.</p>
                                    <p>Social global network open source healthcare, raise awareness human rights political courageous reduce carbon emissions. Transformative Action.
                                        <span class="more">
                                            <a href="blog-single.html" class="more-link">Read More</a>
                                        </span>
                                    </p>
                                </div>
                                <!-- .entry-content -->
                            </article>
                            <!-- .hentry -->
                            <!-- .hentry -->
                            <article class="hentry post format-quote">
                                <header class="entry-header">
                                    <h1 class="entry-title"><a href="blog-single-audio-embed.html" title="Chat">post format: quote</a></h1>
                                    <div class="entry-meta">
                                        <span class="entry-date">
                                            <time class="entry-date" datetime="2014-07-13T04:34:10+00:00">June 7, 2014</time>
                                        </span>
                                        <span class="comment-link">124 Comments</span>
                                        <span class="cat-links">
                                            <a href="#" title="View all posts in Quote" rel="category tag">Quote</a>
                                        </span>
                                    </div>
                                </header>
                                <div class="entry-content">
                                    <blockquote>The earth is art, the photographer is only a witness.
                                        <cite>Yann Arthus</cite>
                                    </blockquote>
                                </div>
                            </article>
                            <!-- .hentry -->
                            <!-- post nav -->
                            <!--<nav class="navigation" role="navigation">
                                <div class="nav-previous"><a href="#"><span class="meta-nav">←</span> Older posts</a></div>
                                <div class="nav-next"><a href="#">Newer posts <span class="meta-nav">→</span></a></div>
                            </nav>-->
                            <!-- post nav -->
                            <!-- post pagination -->
                            <nav class="post-pagination">
                                <ul class="pagination">
                                    <li class="pagination-first"><a href="#"> First </a></li>
                                    <li class="pagination-prev"><a href="#" rel="prev"> « </a></li>
                                    <li class="pagination-num"><a href="#"> 1 </a></li>
                                    <li class="pagination-num current"><a href="#"> 2 </a></li>
                                    <li class="pagination-num"><a href="#"> 3 </a></li>
                                    <li class="pagination-next"><a href="#" rel="next"> » </a></li>
                                    <li class="pagination-last"><a href="#"> Last </a> </li>
                                </ul>
                            </nav>
                            <!-- post pagination -->
                        </div>
                        <!-- blog-regular -->
                    </div>
                    <!-- layout-fixed -->
                </div>
                <!-- site-content -->
            </div>
            <!-- primary -->
        </div>
        <!-- site-main -->
        <!-- site-footer -->
        <footer id="colophon" class="site-footer" role="contentinfo">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- footer-social -->
                <div class="footer-social">
                    <ul class="social">
                        <li>
                            <a class="facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"></a>
                        </li>
                        <li>
                            <a class="instagram" href="#"></a>
                        </li>
                        <li>
                            <a class="fivehundredpx" href="#"></a>
                        </li>
                        <li>
                            <a class="vine" href="#"></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"></a>
                        </li>
                    </ul>
                </div>
                <!-- footer-social -->
                <!-- .site-info -->
                <div class="site-info">
                    <p>Copyright &copy; 2015 Bob Smith</p>
                </div>
                <!-- .site-info -->
            </div>
            <!-- layout-medium -->
        </footer>
        <!-- site-footer -->
    </div>
    <!-- page -->
</template>
