<template name="form-elements">
    <!-- page -->
    <div id="page" class="hfeed site">
        <!-- header -->
        <header id="masthead" class="site-header" role="banner">
            <!-- site-logo -->
            <div class="site-logo">
                <!-- logo : image -->
                <h1 class="site-title">
                        <a href="index.html" rel="home">
                            <img src="images/site/logo.png" alt="logo">
                        </a>
                    </h1>
                <!-- logo : image -->
                <!-- logo : text -->
                <!--<h1 class="site-title">
                        <a href="../index.html" rel="home">
                            Photographer
                        </a>
                    </h1>
                    <p class="site-description">a photography theme.</p> -->
                <!-- logo : text -->
            </div>
            <!-- site-logo -->
            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <a class="menu-toggle"><span class="lines"></span></a>
                <!-- nav-menu -->
                <div class="nav-menu">
                    <ul>
                        <li><a href="index.html">HOME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="home-landing.html">Home Landing Photowall</a></li>
                                <li><a href="home-landing-image.html">Home Landing Image</a></li>
                                <li><a href="home-landing-slides.html">Home Landing Slides</a></li>
                                <li><a href="home-alt.html">Home Alternate</a></li>
                                <li><a href="home-alt-2.html">Home Alternate 2</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="work.html">WORK</a></li>
                        <li><a href="pricing.html">PRICING</a></li>
                        <li><a href="blog.html">BLOG</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="blog-with-sidebar.html">Blog with sidebar</a></li>
                                <li><a href="category.html">Blog Category</a></li>
                                <li><a href="blog-simple.html">Blog Simple</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="about.html">ABOUT ME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="typo.html">Typography</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <!-- nav-menu -->
            </nav>
            <!-- site-navigation -->
        </header>
        <!-- header -->
        <!-- site-main -->
        <div id="main" class="site-main">
            <!-- primary -->
            <div id="primary" class="content-area">
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                    <!-- layout-fixed -->
                    <div class="layout-fixed">
                        <!-- .hentry -->
                        <article class="hentry page">
                            <!-- .entry-header -->
                            <header class="entry-header">
                                <h1 class="entry-title">FORM ELEMENTS</h1>
                            </header>
                            <!-- .entry-header -->
                            <!-- .entry-content -->
                            <div class="entry-content">
                                <p>Here are all forms elements cross browser styled.</p>
                                <form action="#" method="post" class="validate-form">
                                    <p>
                                        <label for="your-name">Name *</label>
                                        <input type="text" name="your-name" id="your-name" class="required">
                                    </p>
                                    <p>
                                        <label for="your-email">Email *</label>
                                        <input type="text" name="your-email" id="your-email" class="required email">
                                    </p>
                                    <p>
                                        <label for="subject">Subject</label>
                                        <input type="text" name="subject" id="subject">
                                    </p>
                                    <p>
                                        <label for="budget">Budget</label>
                                        <select name="budget" id="budget">
                                            <option value="1000$">1000$</option>
                                            <option value="2000$">2000$</option>
                                            <option value="3000$">3000$</option>
                                            <option value="5000$+">5000$+</option>
                                        </select>
                                    </p>
                                    <p>
                                        <label for="attach-file">Attach a file</label>
                                        <input type="file" name="attach-file" id="attach-file">
                                    </p>
                                    <!--<p>
                                  <label for="budgetm">Budget Multi</label>
                                  <select name="budgetm" id="budgetm" multiple="multiple">
                                    <option value="1000$">1000$</option>
                                    <option value="2000$">2000$</option>
                                    <option value="3000$">3000$</option>
                                    <option value="5000$+">5000$+</option>
                                  </select>
                                </p>-->
                                    <p>
                                        <label for="your-message">Your Message</label>
                                        <textarea name="your-message" id="your-message"></textarea>
                                    </p>
                                    <p>
                                        <label>Tech</label>
                                        <label class="inline-label">
                                            <input type="checkbox" name="gender[]" value="male">HTML5
                                        </label>
                                        <label class="inline-label">
                                            <input type="checkbox" name="gender[]" value="female">jQuery
                                        </label>
                                        <label class="inline-label">
                                            <input type="checkbox" name="gender[]" value="female">Wordpress
                                        </label>
                                    </p>
                                    <p>
                                        <label>Gender</label>
                                        <label class="inline-label">
                                            <input type="radio" name="radio" value="radio-1" class="required">Male
                                        </label>
                                        <label class="inline-label">
                                            <input type="radio" name="radio" value="radio-2" class="required">Female
                                        </label>
                                    </p>
                                    <p>
                                        <input type="submit" value="Send it">
                                    </p>
                                </form>
                            </div>
                            <!-- .entry-content -->
                        </article>
                        <!-- .hentry -->
                    </div>
                    <!-- layout-fixed -->
                </div>
                <!-- site-content -->
            </div>
            <!-- primary -->
        </div>
        <!-- site-main -->
        <!-- site-footer -->
        <footer id="colophon" class="site-footer" role="contentinfo">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- footer-social -->
                <div class="footer-social">
                    <ul class="social">
                        <li>
                            <a class="facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"></a>
                        </li>
                        <li>
                            <a class="instagram" href="#"></a>
                        </li>
                        <li>
                            <a class="fivehundredpx" href="#"></a>
                        </li>
                        <li>
                            <a class="vine" href="#"></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"></a>
                        </li>
                    </ul>
                </div>
                <!-- footer-social -->
                <!-- .site-info -->
                <div class="site-info">
                    <p>Copyright &copy; 2015 Bob Smith</p>
                </div>
                <!-- .site-info -->
            </div>
            <!-- layout-medium -->
        </footer>
        <!-- site-footer -->
    </div>
    <!-- page -->
</template>
