<template name="work">
    <!-- page -->
    <div id="page" class="hfeed site">
        <!-- header -->
        <header id="masthead" class="site-header" role="banner">
            <!-- site-logo -->
            <div class="site-logo">
                <!-- logo : image -->
                <h1 class="site-title">
                        <a href="index.html" rel="home">
                            <img src="images/site/logo.png" alt="logo">
                        </a>
                    </h1>
                <!-- logo : image -->
                <!-- logo : text -->
                <!--<h1 class="site-title">
                        <a href="../index.html" rel="home">
                            Photographer
                        </a>
                    </h1>
                    <p class="site-description">a photography theme.</p> -->
                <!-- logo : text -->
            </div>
            <!-- site-logo -->
            <!-- site-navigation -->
            <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
                <a class="menu-toggle"><span class="lines"></span></a>
                <!-- nav-menu -->
                <div class="nav-menu">
                    <ul>
                        <li><a href="index.html">HOME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="home-landing.html">Home Landing Photowall</a></li>
                                <li><a href="home-landing-image.html">Home Landing Image</a></li>
                                <li><a href="home-landing-slides.html">Home Landing Slides</a></li>
                                <li><a href="home-alt.html">Home Alternate</a></li>
                                <li><a href="home-alt-2.html">Home Alternate 2</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="work.html">WORK</a></li>
                        <li><a href="pricing.html">PRICING</a></li>
                        <li><a href="blog.html">BLOG</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="blog-with-sidebar.html">Blog with sidebar</a></li>
                                <li><a href="category.html">Blog Category</a></li>
                                <li><a href="blog-simple.html">Blog Simple</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="about.html">ABOUT ME</a>
                            <!-- level 2 -->
                            <ul>
                                <li><a href="typo.html">Typography</a></li>
                                <li><a href="shortcodes.html">Shortcodes</a></li>
                            </ul>
                            <!-- level 2 -->
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </div>
                <!-- nav-menu -->
            </nav>
            <!-- site-navigation -->
        </header>
        <!-- header -->
        <!-- site-main -->
        <div id="main" class="site-main">
            <!-- primary -->
            <div id="primary" class="content-area">
                <!-- site-content -->
                <div id="content" class="site-content" role="main">
                    <!-- layout-full -->
                    <div class="layout-full">
                        <!-- entry-header -->
                        <!--<header class="entry-header">
                            <h1 class="entry-title">WORK</h1>
                        </header>-->
                        <!-- entry-header -->
                        <!-- .media-grid-wrap -->
                        <div class="media-grid-wrap">
                            <!-- GALLERY -->
                            <div class="gallery-grid">
                                <!-- gallery-item -->
                                <div class="masonry-item post-password-required">
                                    <figure>
                                        <img src="images/album/01.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>OUTDOOR</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/03.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>PORTRAITS</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single-mfp.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/02.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>PEOPLE</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/04.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>FACES</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/05.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>NATURE</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/06.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>KIDS</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/07.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>STREET</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                                <!-- gallery-item -->
                                <div class="masonry-item">
                                    <figure>
                                        <img src="images/album/08.jpg" alt="gallery-post" />
                                        <figcaption>
                                            <h2>MOTION</h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                            <a href="gallery-single-video.html">View more</a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <!-- gallery-item -->
                            </div>
                            <!-- GALLERY -->
                        </div>
                        <!-- .media-grid-wrap -->
                    </div>
                    <!-- layout-full -->
                </div>
                <!-- site-content -->
            </div>
            <!-- primary -->
        </div>
        <!-- site-main -->
        <!-- site-footer -->
        <footer id="colophon" class="site-footer" role="contentinfo">
            <!-- layout-medium -->
            <div class="layout-medium">
                <!-- footer-social -->
                <div class="footer-social">
                    <ul class="social">
                        <li>
                            <a class="facebook" href="#"></a>
                        </li>
                        <li>
                            <a class="twitter" href="#"></a>
                        </li>
                        <li>
                            <a class="instagram" href="#"></a>
                        </li>
                        <li>
                            <a class="fivehundredpx" href="#"></a>
                        </li>
                        <li>
                            <a class="vine" href="#"></a>
                        </li>
                        <li>
                            <a class="vimeo" href="#"></a>
                        </li>
                    </ul>
                </div>
                <!-- footer-social -->
                <!-- .site-info -->
                <div class="site-info">
                    <p>Copyright &copy; 2015 Bob Smith</p>
                </div>
                <!-- .site-info -->
            </div>
            <!-- layout-medium -->
        </footer>
        <!-- site-footer -->
    </div>
    <!-- page -->
</template>
